<div class="container-fluid" id="today_container">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center" id="today_nav">
        <button type="button" class="btn btn-light">Regular Menu</button>
        <button type="button" class="btn btn-light">Breakfast</button>
        <button type="button" class="btn btn-primary">Daily Offer</button>
        <button type="button" class="btn btn-light">Just 4 Today</button>
        <button type="button" class="btn btn-light">3 Hr offer</button>
      </div>
    </div>
  </div>

  <div class="container daily_offer">
    <div class="row">
      <div class="col-12 daily_table">
        <table data-short="true" class="data-table table table-striped table-bordered table-hover" width="100%">
          <thead>
            <tr>
              <th class="id">Member id</th>
              <th class="name">Name</th>
              <th class="postcode">PostCode</th>
              <th class="menu">Regular Menu</th>
              <th class="time">Time</th>
              <th class="ot">OT</th>
              <th class="total_pts">Total Pts</th>
              <th class="points">
                Bank
              </th>
              <th class="points"><img src="assets/img/spend-points.png" alt="icon"></th>
              <th class="points"><img src="assets/img/earn-points.png" alt="icon"></th>
              <th class="coupon">Coupon (scan)</th> 
              <th class="spend">Spend</th>
              <th class="phone">Phone</th>
              <th class="action">Actions</th>
            </tr>
          </thead>
          <tbody>
            <!--Table Data Row-1-->
            <tr>
              <td>21-A-0001</td>
              <td>Simon</td>
              <td>CV5 5BX</td>
              <td>Burger</td>
              <td>11:20</td>
              <td>1</td>
              <td>10.589</td>
              <td>450</td>
              <td>100</td>
              <td>30</td>
              <td>AY54</td>
              <td>5.00</td>
              <td>07425170134</td>
              <td>
                <button type="button" class="btn btn-warning btn-sm btn-green">
                  <i class="fas fa-flag"></i>
                </button>
                <button type="button" class="btn btn-danger btn-sm btn-red">
                  <i class="fas fa-hand-paper"></i>
                </button>
              </td>
            </tr>
            <!--End Of Table Data Rows-->
          </tbody>
        </table>
      </div>
    </div>
  </div>

</div>