/*Loyalty Nav*/
#item_loyalty #loyalty_nav{
    margin: 20px 0;
}
/*Offer_Menu Table*/
#table_container{
    margin-top: 40px;
    padding: 0;
    margin-bottom: 1rem;
}
#table_container table th{
    font-size: .9rem;
}
#table_container table td{
    padding: .5rem;
    font-size: .9rem;
}
#table_container table .image{
    width: 80px;
}
#table_container table .sku{
    width: 42px;
}
#table_container table .image_square{
    width: 40px;
    padding-right: .3rem;
    padding-left: .3rem;
}
#table_container table .img-cont{
    padding-right: .3rem;
    padding-left: .3rem;
}
#table_container table .img-sqr{
    width: 40px;
    height: 40px;
}
#table_container table .daily_offer{
    width: 100px;
}
#table_container table .euro{
    width: 20px;
}
#table_container table .points{
    width: 30px;
}
#table_container table .date{
    width: 130px;
}
#table_container table .action{
    width: 160px;
}
/*Pagination Reg Menu*/
#pagination_wrapper{
    margin-top: -44px;
    height: 34px;
    margin-bottom: 0;
    padding: 0;
}
#pagination_wrapper #pagina{
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    float: right;
    border-radius: 50px;
}
#pagination_wrapper #pagina li{
    font-size: 1rem;
    line-height: 30px;
    font-weight: 600;
    color: #6c757d;
    margin: 0 3px;
    text-align: center;
    cursor: pointer;
    transition: all .4s ease;
}
#pagination_wrapper #pagina .dots{
    cursor: default;
    font-size: 1.1rem;
}
#pagination_wrapper #pagina .numb{
    height: 30px;
    width: 30px;
    border-radius: 50%;
}
#pagination_wrapper #pagina .btn{
    padding: 0 10px;
}
#pagination_wrapper #pagina .prev{
    border-radius: 25px 0 0 25px;
}
#pagination_wrapper #pagina .next{
    border-radius: 0 25px 25px 0;
}
#pagination_wrapper #pagina li.active,
#pagination_wrapper #pagina li.numb:hover,
#pagination_wrapper #pagina li.btn:hover{
    background-color:#6c757d;
    color: #fff;
}
/*Pagination Offer Menu*/
#pagination_container{
    margin-top: -44px;
    height: 34px;
    margin-bottom: 0;
    padding: 0;
}
#pagination_container #pagination{
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    float: right;
    border-radius: 50px;
}
#pagination_container #pagination li{
    font-size: 1rem;
    line-height: 30px;
    font-weight: 600;
    color: #6c757d;
    margin: 0 3px;
    text-align: center;
    cursor: pointer;
    transition: all .4s ease;
}
#pagination_container #pagination .dots{
    cursor: default;
    font-size: 1.1rem;
}
#pagination_container #pagination .numb{
    height: 30px;
    width: 30px;
    border-radius: 50%;
}
#pagination_container #pagination .btn{
    padding: 0 10px;
}
#pagination_container #pagination .prev{
    border-radius: 25px 0 0 25px;
}
#pagination_container #pagination .next{
    border-radius: 0 25px 25px 0;
}
#pagination_container #pagination li.active,
#pagination_container #pagination li.numb:hover,
#pagination_container #pagination li.btn:hover{
    background-color:#6c757d;
    color: #fff;
}