<div class="container-fluid" id="page_wrapper">

  <div class="container-fluid">
    <div class="row">
      <div class="col-12 text-center" id="offer_nav">
        <button type="button" class="btn btn-primary">
          Breakfast
        </button>
        <button type="button" class="btn btn-light">Day Menu</button>
      </div>
    </div>
  </div>

  <div class="container" id="table_container">
    <div class="row">
      <div class="col-sm-12">
        <table data-short="true" class="data-table table table-striped table-bordered table-hover" width="100%">
          <thead>
            <tr>
              <th class="image">Image</th>
              <th class="sku">SKU</th>
              <th class="daily_offer">Regular</th>
              <th class="alt_name">Alt Name</th>
              <th class="euro">£</th>
              <th class="points"><img src="assets/img/spend-points.png" alt="icon"></th>
              <th class="points"><img src="assets/img/earn-points.png" alt="icon"></th>
              <th class="date">Active &nbsp;<i class="far fa-clock"></i></th> 
              <th class="date">Expire &nbsp;<i class="far fa-clock"></i></th>
              <th>Spare</th>
              <th class="action">Actions</th>
            </tr>
          </thead>
          <tbody>
            <!--Table Data Row-1-->
            <tr>
              <td><img src="assets/img/no-image.jpg" class="image" alt="image"></td>
              <td>143</td>
              <td>Coffee</td>
              <td>Burger Meal</td>
              <td>2.50</td>
              <td>100</td>
              <td>12</td>
              <td>03 Jan 21 <span class="ml-2">08:47</span></td>
              <td>02 Jan 22<span class="ml-2">09:12</span></td>
              <td></td>
              <td>
                <button type="button" class="btn btn-light btn-sm">
                  <i class="fas fa-folder-open invisible"></i>
                </button>
                <button type="button" class="btn btn-light btn-sm">
                  <i class="fas fa-folder-open invisible"></i>
                </button>
                <button type="button" class="btn btn-success btn-sm btn-green">
                  <i class="fas fa-pencil-alt"></i>
                </button>
                <button type="button" class="btn btn-danger btn-sm btn-red">
                  <i class="fas fa-trash-alt"></i>
                </button>
              </td>
            </tr>
            <!--Table Data Row-2-->
            <tr>
              <td class="text-center"><img src="assets/img/no-image.jpg" class="image" alt="image"></td>
              <td>125</td>
              <td>Eggs</td>
              <td>Burger Meal</td>
              <td>2.50</td>
              <td>100</td>
              <td>12</td>
              <td>03 Jan 21<span class="ml-2">09:47</span></td>
              <td>02 Jan 22<span class="ml-2">10:20</span></td>
              <td></td>
              <td>
                <button type="button" class="btn btn-light btn-sm">
                  <i class="fas fa-folder-open invisible"></i>
                </button>
                <button type="button" class="btn btn-light btn-sm">
                  <i class="fas fa-folder-open invisible"></i>
                </button>
                <button type="button" class="btn btn-success btn-sm btn-green">
                  <i class="fas fa-pencil-alt"></i>
                </button>
                <button type="button" class="btn btn-danger btn-sm btn-red">
                  <i class="fas fa-trash-alt"></i>
                </button>
              </td>
            </tr>
            <!--Table Data Row-3-->
            <tr>
              <td><img src="assets/img/no-image.jpg" class="image" alt="image"></td>
              <td>54</td>
              <td>Coffee</td>
              <td>Burger Meal</td>
              <td>2.50</td>
              <td>100</td>
              <td>12</td>
              <td>03 Jan 21<span class="ml-2">10:42</span></td>
              <td>02 Jan 22<span class="ml-2">11:25</span></td>
              <td></td>
              <td>
                <button type="button" class="btn btn-light btn-sm">
                  <i class="fas fa-folder-open invisible"></i>
                </button>
                <button type="button" class="btn btn-light btn-sm">
                  <i class="fas fa-folder-open invisible"></i>
                </button>
                <button type="button" class="btn btn-success btn-sm btn-green">
                  <i class="fas fa-pencil-alt"></i>
                </button>
                <button type="button" class="btn btn-danger btn-sm btn-red">
                  <i class="fas fa-trash-alt"></i>
                </button>
              </td>
            </tr>
            <!--End Of Table Data Rows-->
          </tbody>
        </table>
      </div>
    </div>
  </div>  
</div>

<div class="container" id="pagination_wrapper">
  <div class="row">
    <div class="col-12">
      <ul id="pagina">
      <!--  <li class="btn prev"><i class="fas fa-chevron-left"></i> Prev</li>
        <li class="numb active">1</li>
        <li class="numb">2</li>
        <li class="dots">...</li>
        <li class="numb">4</li>
        <li class="numb">5</li>
        <li class="dots">...</li>
        <li class="numb">7</li>
        <li class="btn next">Next <i class="fas fa-chevron-right"></i></li>-->
      </ul>
    </div>
  </div>
</div>