<div class="container-fluid" id="tally_nav_container">
  <div class="row">
      <div class="col-sm-12 text-center" id="loyalty_nav">
          <button type="button" class="btn btn-secondary" subcmp_target='today' subcmp_parentcmp="tally">Today</button>
          <button type="button" class="btn btn-light" subcmp_target='today' subcmp_parentcmp="tally">Yesterday</button>
          <button type="button" class="btn btn-light" subcmp_target='today' subcmp_parentcmp="tally">7 Days ago</button>
      </div>
  </div>
</div> 