#tally_nav_container{
    margin-top: 20px;
}
#today_container{
    margin-top: 20px;
}
#table_caption .caption{
    padding: 1rem 2rem;
}
#table_caption .caption .caption-item{
    border: 1px solid gray;
    display: flex;
    padding: .2rem 0;
}
#table_caption .caption .caption-item .customers{
    margin-left: 80px;
    width: 100px;
    display: inline-block;
    text-align: center;
}
#table_caption .caption .caption-item .ot{
    margin-left: 22rem;
    width: 40px;
    display: inline-block;
    text-align: center;
}
#table_caption .caption .caption-item .total{
    margin-left: 2.5rem;
    width: 110px;
    display: inline-block;
    text-align: center;
}
#table_caption .caption .caption-item .coupon{
    margin-left: 1.5rem;
    width: 120px;
    display: inline-block;
    text-align: center;
}
.label{
    margin-bottom: 5px;
    line-height: 16px;
}
.amount{
    font-weight: 600;
    font-size: 18px;
    line-height: 16px;
    margin-bottom: 5px;
}
#today_container .daily_offer{
    padding: 0;
}
.daily_offer .daily_table table th{
    padding: .7rem .4rem;
    font-size: .9rem;
}
.daily_offer .daily_table table td{
    padding: .4rem;
    font-size: .9rem;
}
.yellow{
    background: #ffc107!important;
}
.red{
    background: #dc3545!important;
}
.white{
    font-weight: 600;
    color: #fff;
}
.white:hover{
    color: #fff!important;
}
.black{
    font-weight: 600;
}
.daily_table table .id{
    width: 100px;
}
.daily_table table .postcode{
    width: 82px;
}
.daily_table table .time{
    width: 52px;
}
.daily_table table .ot{
    width: 36px;
}
.daily_table table .total_pts{
    width: 80px;
}
.daily_table table .points{
    width: 30px;
}
.daily_table table .coupon{
    width: 74px;
}
.daily_table table .spend{
    width: 62px;
}
.daily_table table .phone{
    width: 110px;
}
.daily_table table .action{
    width: 84px;
}
.daily_table table tbody td > button{
    color: #fff;
}