<div class="container" id="table_container">
  <div class="row">
    <div class="col-sm-12">
      <table data-short="true" class="data-table table table-striped table-bordered table-hover" width="100%">
        <thead>
          <tr>
            <th class="image">Image</th>
            <th class="daily_offer">Daily Offer</th>
            <th class="alt_name">Alternative Name</th>
            <th class="euro">£</th>
            <th class="points"><img src="assets/img/spend-points.png" alt="icon"></th>
            <th class="points"><img src="assets/img/earn-points.png" alt="icon"></th>
            <th class="date">Active Date</th> 
            <th class="date">Expire Date</th>
            <th>Spare</th>
            <th class="action">Actions</th>
          </tr>
        </thead>
        <tbody>
          <!--Table Data Row-1-->
          <tr>
            <td><img src="assets/img/no-image.jpg" class="image" alt="image"></td>
            <td>Daily Offer 1</td>
            <td>Burger Meal</td>
            <td>2.50</td>
            <td>100</td>
            <td>12</td>
            <td>03 Jan 21</td>
            <td>02 Jan 22</td>
            <td></td>
            <td>
              <button type="button" class="btn btn-light btn-sm">
                <i class="fas fa-folder-open invisible"></i>
              </button>
              <button type="button" class="btn btn-light btn-sm">
                <i class="fas fa-folder-open invisible"></i>
              </button>
              <button type="button" class="btn btn-success btn-sm btn-green">
                <i class="fas fa-pencil-alt"></i>
              </button>
              <button type="button" class="btn btn-danger btn-sm btn-red">
                <i class="fas fa-trash-alt"></i>
              </button>
            </td>
          </tr>
          <!--Table Data Row-2-->
          <tr>
            <td class="text-center"><img src="assets/img/60x60.png" class="img-sqr" alt="image"></td>
            <td>Daily Offer 1</td>
            <td>Burger Meal</td>
            <td>2.50</td>
            <td>100</td>
            <td>12</td>
            <td>03 Jan 21</td>
            <td>02 Jan 22</td>
            <td></td>
            <td>
              <button type="button" class="btn btn-light btn-sm">
                <i class="fas fa-folder-open invisible"></i>
              </button>
              <button type="button" class="btn btn-light btn-sm">
                <i class="fas fa-folder-open invisible"></i>
              </button>
              <button type="button" class="btn btn-success btn-sm btn-green">
                <i class="fas fa-pencil-alt"></i>
              </button>
              <button type="button" class="btn btn-danger btn-sm btn-red">
                <i class="fas fa-trash-alt"></i>
              </button>
            </td>
          </tr>
          <!--Table Data Row-3-->
          <tr>
            <td><img src="assets/img/no-image.jpg" class="image" alt="image"></td>
            <td>Daily Offer 1</td>
            <td>Burger Meal</td>
            <td>2.50</td>
            <td>100</td>
            <td>12</td>
            <td>03 Jan 21</td>
            <td>02 Jan 22</td>
            <td></td>
            <td>
              <button type="button" class="btn btn-light btn-sm">
                <i class="fas fa-folder-open invisible"></i>
              </button>
              <button type="button" class="btn btn-light btn-sm">
                <i class="fas fa-folder-open invisible"></i>
              </button>
              <button type="button" class="btn btn-success btn-sm btn-green">
                <i class="fas fa-pencil-alt"></i>
              </button>
              <button type="button" class="btn btn-danger btn-sm btn-red">
                <i class="fas fa-trash-alt"></i>
              </button>
            </td>
          </tr>
          <!--End Of Table Data Rows-->
        </tbody>
      </table>
    </div>
  </div>
</div>
