<div class="container-fluid">

  <div class="container-fluid">
    <div class="row">
      <div class="col-12 text-center" id="offer_nav">
        <button type="button" class="btn btn-primary" subcmp_target='offer_table' subcmp_parentcmp="offer_menu">
          Daily Offer
        </button>
        <button type="button" class="btn btn-light">Just 4 Today</button>
        <button type="button" class="btn btn-light">3 Hr Offer</button>
      </div>
    </div>
  </div>

  <div class="container" id="table_container">
    <div class="row">
      <div class="col-sm-12">
        <table data-short="true" class="data-table table table-striped table-bordered table-hover" width="100%">
          <thead>
            <tr>
              <th class="image_square">Image</th>
              <th class="sku">SKU</th>
              <th class="daily_offer">Offer</th>
              <th class="alt_name">Alt Name</th>
              <th class="euro">£</th>
              <th class="points"><img src="assets/img/spend-points.png" alt="icon"></th>
              <th class="points"><img src="assets/img/earn-points.png" alt="icon"></th>
              <th class="date">Active &nbsp;<i class="far fa-clock"></i></th> 
              <th class="date">Expire &nbsp;<i class="far fa-clock"></i></th>
              <th>Spare</th>
              <th class="action">Actions</th>
            </tr>
          </thead>
          <tbody>
            <!--Table Data Row-1-->
            <tr>
              <td class="text-center img-cont"><img src="assets/img/60x60.png" class="img-sqr" alt="image"></td>
              <td>167</td>
              <td>Kebab</td>
              <td>Burger Meal</td>
              <td>2.50</td>
              <td>100</td>
              <td>12</td>
              <td>03 Jan 21<span class="ml-2">10:42</span></td>
              <td>02 Jan 22<span class="ml-2">11:25</span></td>
              <td></td>
              <td>
                <button type="button" class="btn btn-light btn-sm">
                  <i class="fas fa-folder-open invisible"></i>
                </button>
                <button type="button" class="btn btn-light btn-sm">
                  <i class="fas fa-folder-open invisible"></i>
                </button>
                <button type="button" class="btn btn-success btn-sm btn-green">
                  <i class="fas fa-pencil-alt"></i>
                </button>
                <button type="button" class="btn btn-danger btn-sm btn-red">
                  <i class="fas fa-trash-alt"></i>
                </button>
              </td>
            </tr>
            <!--Table Data Row-2-->
            <tr>
              <td class="text-center img-cont"><img src="assets/img/60x60.png" class="img-sqr" alt="image"></td>
              <td>67</td>
              <td>Soup</td>
              <td>Burger Meal</td>
              <td>2.50</td>
              <td>100</td>
              <td>12</td>
              <td>03 Jan 21<span class="ml-2">11:40</span></td>
              <td>02 Jan 22<span class="ml-2">11:55</span></td>
              <td></td>
              <td>
                <button type="button" class="btn btn-light btn-sm">
                  <i class="fas fa-folder-open invisible"></i>
                </button>
                <button type="button" class="btn btn-light btn-sm">
                  <i class="fas fa-folder-open invisible"></i>
                </button>
                <button type="button" class="btn btn-success btn-sm btn-green">
                  <i class="fas fa-pencil-alt"></i>
                </button>
                <button type="button" class="btn btn-danger btn-sm btn-red">
                  <i class="fas fa-trash-alt"></i>
                </button>
              </td>
            </tr>
            <!--Table Data Row-3-->
            <tr>
              <td class="text-center img-cont"><img src="assets/img/60x60.png" class="img-sqr" alt="image"></td>
              <td>7</td>
              <td>Burger</td>
              <td>Burger Meal</td>
              <td>2.50</td>
              <td>100</td>
              <td>12</td>
              <td>03 Jan 21<span class="ml-2">13:42</span></td>
              <td>02 Jan 22<span class="ml-2">14:35</span></td>
              <td></td>
              <td>
                <button type="button" class="btn btn-light btn-sm">
                  <i class="fas fa-folder-open invisible"></i>
                </button>
                <button type="button" class="btn btn-light btn-sm">
                  <i class="fas fa-folder-open invisible"></i>
                </button>
                <button type="button" class="btn btn-success btn-sm btn-green">
                  <i class="fas fa-pencil-alt"></i>
                </button>
                <button type="button" class="btn btn-danger btn-sm btn-red">
                  <i class="fas fa-trash-alt"></i>
                </button>
              </td>
            </tr>
            <!--End Of Table Data Rows-->
          </tbody>
        </table>
      </div>
    </div>
  </div>  
</div>