<div id="general_settings">
  <div class="container">
    <div class="row">
      <div class="col-12 bg-light" id="settings">
        <div class="row">
          <!--Customers Points Form-->
          <div class="col-6 customer">
            <h2 class="text-center">Customers Points</h2>
            <div class="underline"></div>
            <form action="#">
              <div class="form-group enable">
                <p>Enable Points System?</p>
                <button type="button" class="btn btn-success">
                  Active
                </button>
              </div>
              <div class="form-group enable">
                <p>Daily Passcode?</p>
                <button type="button" class="btn btn-success passcode">
                  Active
                </button>
              </div>
              <div class="form-row mt-4">
                <div class="col-6">
                  <p>Redumption Value Per Point</p>
                </div>
                <div class="col-6">
                  <input type="text" id="points" name="points" placeholder="1 point = £?">
                </div>
              </div>
              <div class="form-row">
                <div class="col-6">
                  <p>Maximum Limit In Loyalty Bank</p>
                </div>
                <div class="col-6">
                  <input type="text" id="bank" name="bank" placeholder="Set between 100-500">
                </div>
              </div>
              <div class="form-row">
                <div class="col-6">
                  <p>Reward Points For Account Setup</p>
                </div>
                <div class="col-6">
                  <input type="text" id="setup" name="setup" placeholder="Set between 50-300">
                </div>
              </div>
              <div class="form-row">
                <div class="col-6">
                  <p>Reward Points For Shop Review</p>
                </div>
                <div class="col-6">
                  <input type="text" id="review" name="review" placeholder="Set between 10-30">
                </div>
              </div>
              <div class="form-row">
                <div class="col-6">
                  <p>Reward Points For First Order</p>
                </div>
                <div class="col-6">
                  <input type="text" id="order" name="order" placeholder="Set between 10-100">
                </div>
              </div>
              <div class="form-row">
                <div class="col-6">
                  <p>Points Expire After App Is Disabled</p>
                </div>
                <div class="col-6">
                  <input type="text" id="disable" name="disable" placeholder="Yes or No">
                </div>
              </div>
              <div class="form-row">
                <div class="col-6">
                  <p>Spare</p>
                </div>
                <div class="col-6">
                  <input type="text" id="spare" name="spare" placeholder="Yes or No">
                </div>
              </div>
              <div class="form-row mt-3">
                <button type="button" class="btn btn-danger">Save</button>
              </div>
            </form>
          </div>
          <!--Retailers Points Form-->
          <div class="col-6 retailer">
            <h2 class="text-center">Retailers Points</h2>
            <div class="underline"></div>
            <form action="#">
              <div class="form-group enable">
                <button type="button" class="btn btn-success">
                  Active
                </button>
                <p>Enable Retailer Points System?</p>
              </div>
              <div class="form-group enable">
                <button type="button" class="btn btn-success passcode">
                  Active
                </button>
                <p>Daily Passcode?</p>
              </div>
              <div class="form-row mt-4">
                <div class="col-6 inputs">
                  <input type="text" id="value" name="value" placeholder="1 point = £?">
                </div>
                <div class="col-6 lables">
                  <p>Resell Points Value</p>
                </div>
              </div>
              <div class="form-row">
                <div class="col-6 inputs">
                  <input type="text" id="retailer" name="retailer" placeholder="Set between 100-500">
                </div>
                <div class="col-6 lables">
                  <p>Maximum Purchase Retailer</p>
                </div>
              </div>
              <div class="form-row">
                <div class="col-6 inputs">
                  <input type="text" id="setup" name="setup" placeholder="Set between 50-300">
                </div>
                <div class="col-6 lables">
                  <p>Reward Points For Account Setup</p>
                </div>
              </div>
              <div class="form-row">
                <div class="col-6 inputs">
                  <input type="text inputs" id="order" name="order" placeholder="Set between 10-30">
                </div>
                <div class="col-6 lables">
                  <p>Reward Points For First Order</p>
                </div>
              </div>
              <div class="form-row">
                <div class="col-6 inputs">
                  <input type="text" id="order" name="order" placeholder="Set between 10-100">
                </div>
                <div class="col-6 lables">
                  <p>Reward Points For First Order</p>
                </div>
              </div>
              <div class="form-row">
                <div class="col-6 inputs">
                  <input type="text" id="spare" name="spare" placeholder="Yes or No">
                </div>
                <div class="col-6 lables">
                  <p>Spare</p>
                </div>
              </div>
              <div class="form-row">
                <div class="col-6 inputs">
                  <input type="text" id="spare" name="spare" placeholder="Yes or No">
                </div>
                <div class="col-6 lables">
                  <p>Spare</p>
                </div>
              </div>
              <div class="form-row mt-3">
                <button type="button" class="btn btn-danger ml-auto">Save</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>