<div id="general_settings">
  <div class="container">
    <div class="row">
      <div class="col-12 bg-light" id="settings">
        <div class="row">
          <!--Customers Points Form-->
          <div class="col-6 customer">
            <h2 class="text-center">Customers Points</h2>
            <div class="underline"></div>
            <form action="#">
              <div class="form-group enable">
                <p>Enable Points System</p>
                <button type="button" class="btn btn-secondary inactive_btn">
                  Inactive
                </button>
              </div>
              <div class="form-group enable">
                <p>Daily Passcode</p>
                <button type="button" class="btn btn-secondary inactive_btn passcode">
                  Inactive
                </button>
              </div>
              <div class="form-row mt-4">
                <div class="col-6">
                  <p>Redumption Value Per Point</p>
                </div>
                <div class="col-6">
                  <select name="points" id="points">
                    <option value="1 point = £?">1 point = £?</option>
                    <option value="2 point = £?">2 point = £?</option>
                    <option value="3 point = £?">3 point = £?</option>
                    <option value="4 point = £?">4 point = £?</option>
                    <option value="5 point = £?">7 point = £?</option>
                    <option value="6 point = £?">6 point = £?</option>
                    <option value="7 point = £?">7 point = £?</option>
                    <option value="8 point = £?">8 point = £?</option>
                    <option value="9 point = £?">9 point = £?</option>
                    <option value="10 point = £?">10 point = £?</option>
                  </select>
                </div>
              </div>
              <div class="form-row">
                <div class="col-6">
                  <p>Maximum Limit In Loyalty Bank</p>
                </div>
                <div class="col-6">
                  <select name="bank" id="bank">
                    <option value="100">Set between 100-500</option>
                    <option value="100">100</option>
                    <option value="200">200</option>
                    <option value="300">300</option>
                    <option value="400">400</option>
                    <option value="500">500</option>
                  </select>
                </div>
              </div>
              <div class="form-row">
                <div class="col-6">
                  <p>Reward Points For Account Setup</p>
                </div>
                <div class="col-6">
                  <select name="setup" id="setup">
                    <option value="100">Set between 50-300</option>
                    <option value="50">50</option>
                    <option value="100">100</option>
                    <option value="150">150</option>
                    <option value="200">200</option>
                    <option value="250">250</option>
                    <option value="300">300</option>
                  </select>
                </div>
              </div>
              <div class="form-row">
                <div class="col-6">
                  <p>Reward Points For Shop Review</p>
                </div>
                <div class="col-6">
                  <select name="review" id="review">
                    <option value="Set between 10-30">Set between 10-30</option>
                    <option value="10">10</option>
                    <option value="10">20</option>
                    <option value="10">30</option>
                  </select>
                </div>
              </div>
              <div class="form-row">
                <div class="col-6">
                  <p>Reward Points For First Order</p>
                </div>
                <div class="col-6">
                  <select name="order" id="order">
                    <option value="Set between 10-100">Set between 10-100</option>
                    <option value="10">10</option>
                    <option value="10">20</option>
                    <option value="10">30</option>
                    <option value="10">40</option>
                    <option value="10">50</option>
                    <option value="10">60</option>
                    <option value="10">70</option>
                    <option value="10">80</option>
                    <option value="10">90</option>
                    <option value="10">100</option>
                  </select>
                </div>
              </div>
              <div class="form-row">
                <div class="col-6">
                  <p>Points Expire After App Is Disabled</p>
                </div>
                <div class="col-6">
                  <select name="disable" id="disable">
                    <option value="Yes or No">Yes or No</option>
                    <option value="Yes">Yes</option>
                    <option value="No">No</option>
                  </select>
                </div>
              </div>
              <div class="form-row">
                <div class="col-6">
                  <p>Spare</p>
                </div>
                <div class="col-6">
                  <select name="spare" id="spare">
                    <option value="Yes or No">Yes or No</option>
                    <option value="Yes">Yes</option>
                    <option value="No">No</option>
                  </select>
                </div>
              </div>
              <div class="form-row mt-3">
                <button type="button" class="btn btn-danger">Save</button>
              </div>
            </form>
          </div>
          <!--Retailers Points Form-->
          <div class="col-6 retailer">
            <h2 class="text-center">Retailers Points</h2>
            <div class="underline"></div>
            <form action="#">
              <div class="form-group enable">
                <button type="button" class="btn btn-secondary inactive_btn">
                  Inactive
                </button>
                <p>Enable Retailer Points System</p>
              </div>
              <div class="form-group enable">
                <button type="button" class="btn btn-secondary inactive_btn passcode">
                  Inactive
                </button>
                <p>Daily Passcode</p>
              </div>
              <div class="form-row mt-4">
                <div class="col-6 inputs">
                  <select name="points" id="points">
                    <option value="1 point = £?">1 point = £?</option>
                    <option value="2 point = £?">2 point = £?</option>
                    <option value="3 point = £?">3 point = £?</option>
                    <option value="4 point = £?">4 point = £?</option>
                    <option value="5 point = £?">7 point = £?</option>
                    <option value="6 point = £?">6 point = £?</option>
                    <option value="7 point = £?">7 point = £?</option>
                    <option value="8 point = £?">8 point = £?</option>
                    <option value="9 point = £?">9 point = £?</option>
                    <option value="10 point = £?">10 point = £?</option>
                  </select>
                </div>
                <div class="col-6 lables">
                  <p>Resell Points Value</p>
                </div>
              </div>
              <div class="form-row">
                <div class="col-6 inputs">
                  <select name="bank" id="bank">
                    <option value="100">Set between 100-500</option>
                    <option value="100">100</option>
                    <option value="200">200</option>
                    <option value="300">300</option>
                    <option value="400">400</option>
                    <option value="500">500</option>
                  </select>
                </div>
                <div class="col-6 lables">
                  <p>Maximum Purchase Retailer</p>
                </div>
              </div>
              <div class="form-row">
                <div class="col-6 inputs">
                  <select name="setup" id="setup">
                    <option value="100">Set between 50-300</option>
                    <option value="50">50</option>
                    <option value="100">100</option>
                    <option value="150">150</option>
                    <option value="200">200</option>
                    <option value="250">250</option>
                    <option value="300">300</option>
                  </select>
                </div>
                <div class="col-6 lables">
                  <p>Reward Points For Account Setup</p>
                </div>
              </div>
              <div class="form-row">
                <div class="col-6 inputs">
                  <select name="review" id="review">
                    <option value="Set between 10-30">Set between 10-30</option>
                    <option value="10">10</option>
                    <option value="10">20</option>
                    <option value="10">30</option>
                  </select>
                </div>
                <div class="col-6 lables">
                  <p>Reward Points For First Order</p>
                </div>
              </div>
              <div class="form-row">
                <div class="col-6 inputs">
                  <select name="order" id="order">
                    <option value="Set between 10-100">Set between 10-100</option>
                    <option value="10">10</option>
                    <option value="10">20</option>
                    <option value="10">30</option>
                    <option value="10">40</option>
                    <option value="10">50</option>
                    <option value="10">60</option>
                    <option value="10">70</option>
                    <option value="10">80</option>
                    <option value="10">90</option>
                    <option value="10">100</option>
                  </select>
                </div>
                <div class="col-6 lables">
                  <p>Reward Points For First Order</p>
                </div>
              </div>
              <div class="form-row">
                <div class="col-6 inputs">
                  <select name="spare" id="spare">
                    <option value="Yes or No">Yes or No</option>
                    <option value="Yes">Yes</option>
                    <option value="No">No</option>
                  </select>
                </div>
                <div class="col-6 lables">
                  <p>Spare</p>
                </div>
              </div>
              <div class="form-row">
                <div class="col-6 inputs">
                  <select name="spare" id="spare">
                    <option value="Yes or No">Yes or No</option>
                    <option value="Yes">Yes</option>
                    <option value="No">No</option>
                  </select>
                </div>
                <div class="col-6 lables">
                  <p>Spare</p>
                </div>
              </div>
              <div class="form-row mt-3">
                <button type="button" class="btn btn-danger ml-auto">Save</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>